body {
  background-color: $text-light-background;
  color: $text-dark-background;
  font-family: 'Roboto', sans-serif;
}

* {
  transition: 0.5s;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  @include mobile {
    max-width: 320px;
  }

  @include tablet {
    max-width: 768px;
    padding: 0 32px;
  }

  @include desktop {
    max-width: 1280px;
  }
}
