body {
  // background-color: ;
  // color: ;
  font-family: 'Roboto', sans-serif;
  // font-size: 16px;
  // line-height: 1.2;
  // letter-spacing: 0.04em;
}

.container {
  margin: 0 auto;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}
