$accent: #f87719;
$not-accent: #b7b7b7;
$text-light-background: #111111;
$text-dark-background: #ffffff;
$text-secondary-color: #f8f8f8;
$text-secondary-light: #282828;
$linear-button: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
$linear-star: linear-gradient(141.22deg, #F84119 9.4%, rgba(248, 159, 25, 0.68) 91.91%);
$box-shadow: 1px 1px 14px rgba(1, 1, 1, 0.25);



