/* // Модалка */
.backdrop.footer__backdrop {
  @include centerFlex();
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    align-items: center;
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    .footer-modal {
      transform: scale(1.5);
      background-color: rgba(255, 255, 255, 0.788);
    }
  }
}

.footer__backdrop {
  z-index: 1000;
}

.footer-modal {
  z-index: 1000;
  width: 300px;
  height: 430px;
  background-color: rgb(177, 176, 176);
  padding-top: 15px;
  border-radius: 10px;
  background: linear-gradient(135deg, #0d1330 20%, #552e0a 56%, #15156c 144%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 144% 62%;

  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 0px 100px 15px rgba(253, 254, 255, 0.2);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(253, 254, 255, 0.2);
    outline: none;
    border-radius: 10px;
  }
  @include tablet {
    width: 600px;
    height: 500px;
  }
  @include desktop {
    width: 800px;
    height: 500px;
  }
  @media screen and (max-height: 430px) {
    height: 90vh;
    overflow-y: scroll;
  }
}

body.modal-open {
  overflow: hidden;
}

.glide__slide {
  border: none;
  width: 0.9vh;
  @include tablet {
    width: 350px;
    background-position: 134% 62%;
  }
}

.glide__track {
  overflow: hidden;
}

.footer__sociallink {
  margin-bottom: 15px;
  padding-left: 10px;
  &:first-child {
    padding-left: 0px;
  }
}

.footer-modal__card {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.fa-xl {
  color: $text-secondary-color;
  &:hover,
  &:focus {
    animation: Glow 0.5s ease infinite alternate;
  }
}

.footer__social {
  display: flex;
}

.footermodalbtn-close {
  @include centerFlex();
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-color: #99a1ca;
  color: #99a1ca;
  top: 0;
  right: 0;
  background-color: transparent;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  transform: scale(1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.2);
    border-color: $accent;
    color: $accent;
  }

  &__icon-close {
    stroke: #000;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover &__icon-close,
  &:focus &__icon-close {
    stroke: $accent;
  }
}

.student__card {
  @include centerFlex();
  flex-direction: column;
}

.student-foto {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.border__outside {
  padding: 7px;
  margin: 0 auto;
  width: 170px;
  border-radius: 50%;
  border-bottom: 2px solid #434362;
  border-right: 2px solid #434362;
  margin-bottom: 10px;
  @include tablet {
    margin-bottom: 15px;
  }
}

.border__inside {
  padding: 7px;
  border-radius: 50%;
  border: 1.5px solid $not-accent;
}

.student__name {
  @include font(600, 18px, 1.15, 0.04);
  color: #99a1ca;
  font-family: 'Roboto';
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid #99a1ca;
  @include tablet {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

.student__role {
  @include font(400, 18px, 1.15, 0.04);
  font-family: 'Roboto';
  color: $text-secondary-color;
  margin-bottom: 10px;
  @include tablet {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

.student__about {
  @include font(400, 14px, 1.15, 0.04);
  font-family: 'Roboto';
  color: $not-accent;
  margin-bottom: 10px;
  text-align: center;
  @include tablet {
    font-size: 20px;
    margin-top: 25px;
  }
}

.glide__slides--footer {
  display: flex;
}

.students--link:focus,
.students--link:hover {
  animation: Glow 0.5s ease infinite alternate;
}
.students--link {
  margin-left: 3px;
  text-decoration: underline;
}
// ========
