.backdrop {
  position: fixed;
  background-color: rgba(24, 23, 23, 0.767);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 1;
  overflow: auto;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1000ms linear, visibility 300ms linear;
  }
}

.modal__container {
  height: 100vh; 
  overflow: auto;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  background-color: $text-light-background;
  @include font(500, 24, 1.2, null);
  color: $text-secondary-color;
  padding: 52px 16px;
  border-radius: 16px;
  width: 280px;

  @include tablet {
    display: flex;
    width: 704px;
    height: 488px;
    padding: 44px;
  }
  @include desktop {
    width: 846px;
    height: 598px;
    padding: 60px;
  }
}

.film-list {
  @include centerFlex();
  gap: 30px;
  flex-wrap: wrap;
  @include tablet {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
  }
  @include desktop {
    gap: 20px;
  }

  & .film-list__img {
    width: 248px;
    height: 315px;
    @include tablet {
      width: 294px;
      height: 400px;
    }
    @include desktop {
      width: 375px;
      height: 478px;
    }

    & img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      margin-top: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url(../img/err-modal/err-mod-dsct-2x-min.png);
      object-fit: cover;
@include tablet {
      margin-top: 0;
    }
      @include desktop {
        box-shadow: 1px 1px 24px 2px rgba(1, 1, 1, 0.45);
      }
    }
  }
}

.film-list__info {
  width: 248px;
  @include tablet {
    width: 301px;
  }
  @include desktop {
    width: 331px;
  }
  & .film-list__title {
    display: inline-block;
    @include font(500, 20, 1.2, null);
    margin-bottom: 29px;
    color: $text-dark-background;

    @include tablet {
      @include font(500, 24, 1.2, null);
      margin-bottom: 26px;
    }
    @include desktop {
      margin-bottom: 28px;
    }
  }

  & .film-list__wood {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;

    & .film-list__sub--title {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      width: 100px;
      @include font(500, 14, 1.2, null);
      color: $not-accent;
      @include desktop {
        @include font(500, 16, 1.2, null);
      }
    }

    & .film-list__title--wood {
      width: 120px;
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      @include font(500, 14, 1.2, null);
      color: $text-secondary-color;

      @include desktop {
        @include font(500, 16, 1.2, null);
      }
    }

    & .film-list__text--average {
      width: 120px;
      display: flex;
      gap: 7px;
      @include font(500, 12, 1.2, null);
      color: $text-secondary-color;

      @include desktop {
        width: 140px;
        @include font(500, 14, 1.2, null);
      }
      & .film-list__average {
        background: $text-dark-background;
        border-radius: 5px;
        color: $text-light-background;
        padding: 1px 8px;
      }
    }

    & .film-list__last--text {
      @include font(500, 14, 1.2, null);
      color: $text-secondary-color;

      @include desktop {
        @include font(500, 16, 1.2, null);
      }
    }
  }

  & .film-list__title--about {
    @include font(500, 14, 1.2, null);
    margin-bottom: 12px;
    color: $not-accent;
    @include tablet {
      margin-bottom: 16px;
    }
    @include desktop {
      @include font(500, 16, 1.2, null);
    }
  }

  & .film-list__text--about {
    @include font(400, 12, 1.67, null);
    color: $text-secondary-color;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
    @include tablet {
      margin-botton: 24px;
      -webkit-line-clamp: 5;
    }
    @include desktop {
      @include font(400, 14, 1.43, null);
      -webkit-line-clamp: 10;
    }
  }
}

.film__button {
  text-align: center;
  border-radius: 74px;
  width: 140px;
  height: 38px;
  @include font(500, 12, 1.4, null);
  cursor: pointer;
  color: $text-secondary-color;
  background: transparent;
  border: 1px solid $accent;
  @include tablet {
    @include font(500, 12, 1.2, null);
    height: 40px;
  }
  &:hover,
  &:focus {
    background-color: $text-secondary-color;
    color: $accent;
    border: 1px solid $text-secondary-color;
  }
}

.modal__close-btn {
  @include centerFlex();
  align-self: flex-start;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 16px;
  border: none;
  background: transparent;
  transition: color 200ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
  fill: $text-secondary-color;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent;
    border-color: $accent;
  }
  @include tablet {
    top: 24px;
    right: 24px;
  }
  @include desktop {
    top: 40px;
    right: 40px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
