.notification-trailer-fail {
  @include centerFlex();
  flex-direction: column;
  width: 280px;
  height: 289px;
  background-color: $text-light-background;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;
  @include tablet {
    display: block;
    width: 609px;
    height: 400px;
    padding: 132px 144px 176px 44px;
  }
  @include desktop {
    display: block;
    width: 700px;
    height: 400px;
    padding: 150px 329px 150px 50px;
  }
}
.bg-box {
  width: 150px;
  height: 150px;
  background-image: url('../img/err-modal/err-mod-mob-min.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    background-image: url('../img/err-modal/err-mod-tab-min.png');
    position: fixed;
    right: 10px;
    bottom: 16px;
    margin-left: auto;
    margin-right: 0;
    width: 296px;
    height: 260px;
  }
  @include desktop {
    background-image: url('../img/err-modal/err-mod-dsct-min.png');
    position: fixed;
    right: 10px;
    bottom: 16px;
    margin-left: auto;
    margin-right: 0;
    width: 296px;
    height: 260px;
  }
}
.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  // background-image: url('../img/sprite.svg#icon-x-button');
  background-color: transparent;
  display: block;
  width: 24px;
  height: 24px;
  color: $text-dark-background;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  @include tablet {
    top: 24px;
    right: 24px;
  }
  @include desktop {
    top: 28px;
    right: 28px;
  }
}

.btn-close--svg {
  width: 24px;
  height: 24px;
}
.notification-trailer-fail-text {
  @include font(400, 16, 1.18, null);
  font-style: normal;
  color: $text-dark-background;
  width: 214px;
  height: 65px;
  @include tablet {
    @include font(null, 24, 1.16, null);
    width: 321px;
    height: 92px;
    color: $text-dark-background;
  }
}
.iframe {
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;
}