
<!-- <div class="container">
  <div class="catalog__content">
    <form>

      <input type="text" class="catalog__search" placeholder="Search" />
      <button type="submit">Search</button>

    </form>
  </div>
  <div class="movies home__cards"></div>
  <div class="pagination">
    <ul class="pagination__list"></ul>
  </div>
</div>

<div class="modal">
  <div class="modal__overlay">
    <button type='reset' class='close'><svg class='close__icon' width=24 height=24>
        <use href='/src/img/sprite.svg#icon-x-button'></use>
      </svg></button>
    <div class="modal__poster"></div>
  </div>
</div> -->



<section class="gallery">
  <div class="container">
    <h1 class="visually-hidden">The Film Gallery</h1>
    <div class="info-message"></div>
    <div class="movies"></div>
  </div>
  <div id="tui-pagination-container" class="tui-pagination">
  
  </div>
</section>

