<!-- <div class="catalog__search">
  <form>
    <input type="text" id="searchInput" placeholder="Search movies...">
    <button type="submit">Search</button>
  </form>
</div>
<ul class="catalog" id="movie-list"></ul>
<div class="pagination"></div> -->
<div class="container">
  <div class="catalog__content">
    <form>

      <input type="text" class="catalog__search" placeholder="Search" />
      <button type="submit">Search</button>

    </form>
  </div>
  <div class="movies home__cards"></div>
  <div class="pagination">
    <ul class="pagination__list"></ul>
  </div>
</div>

<div class="modal">
  <div class="modal__overlay">
    <button type='reset' class='close'><svg class='close__icon' width=24 height=24>
        <use href='/src/img/sprite.svg#icon-x-button'></use>
      </svg></button>
    <div class="modal__poster"></div>
  </div>
</div>


