<div class="footer--copyright">
  <p class="copyright">
    <span>&copy;</span> <span class="copyright-text">2023 | All Rights Reserved |</span>
  </p>
  <p class="students">
    <span class="develop">Developed with</span>
    <a
      class="heart"
      href="https://www.canva.com/design/DAFiPnTuxns/Mr3Q2HLHopkR9BnDzUmVkA/view?utm_content=DAFiPnTuxns&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink"
      target="_blank"
      rel="noopener noreferrer nofollow"
      ><svg class="footer--icon heart" width="14" height="13">
        <use href="./img/sprite.svg#icon-heart"></use></svg
    ></a>
    <span class="develop-by">by</span>
    <a class="students--link" data-footer-open>GoIT Students</a>
  </p>
  <ul class="panel__list">
    <li class="panel__list--item panel__list--button active-select btn-en"></li>
    <li class="panel__list--item panel__list--button btn-ua"></li>
  </ul>
</div>
