<div class="team team__backdrop is-hidden" data-modal>
  <div class="team__wrapper">
    <button class="team__modal-close-btn" type="button" data-modal-close>
      <svg class="team__modal-close-icon" width="30" height="30">
        <use href="./img/sprite.svg#icon-x-button"></use>
      </svg>
    </button>
    <h1 class="team__title">FILM CREW 🎬</h1>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./img/modal-team/olexander-korotayev.jpeg"
            alt="Olexander Korotayev"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Olexander Korotayev</p>
          <p class="team__role">Team Lead</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/олександр-коротаєв-5a985b275/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/alexkorpol"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
          class="team__img"
          src="./img/modal-team/ivan-tymoshchuk.jpg"
          alt="Ivan Tymoshchuk"
          loading="lazy"
        />
        </div>
        <div class="team__box">
          <p class="team__member">Ivan Tymoshchuk</p>
          <p class="team__role">Deputy Team Leader</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/ivan-tymoshchuk-a00ab2262/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/IvanTymoshchuk"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
          class="team__img"
          src="./img/hero-mobile-2x.jpg"
          alt="Olia Medvetska"
          loading="lazy"
        />
        </div>
        <div class="team__box">
          <p class="team__member">Olia Medvetska</p>
          <p class="team__role">Scrum Master</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/olia-medvetska-4621a9261/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Southernsunny"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
          class="team__img"
          src="./img/modal-team/pavlo-antoniv.jpeg"
          alt="Pavlo Antoniv"
          loading="lazy"
        />
        </div>
        <div class="team__box">
          <p class="team__member">Pavlo Antoniv</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/pavlo-antoniv-7b553119a/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/PavloAntoniv"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
          class="team__img"
          src="./img/hero-mobile-2x.jpg"
          alt="Ruslan Zakharchuk"
          loading="lazy"
        />
        </div>
        <div class="team__box">
          <p class="team__member">Ruslan Zakharchuk</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="##"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/ruslanzakhar"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
          class="team__img"
          src="./img/modal-team/tonya-pronina.jpeg"
          alt="Tonya Vaissberg"
          loading="lazy"
        />
        </div>
        <div class="team__box">
          <p class="team__member">Tonya Pronina</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="##"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/MariiaaIvanova"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
          class="team__img"
          src="./img/modal-team/maryna-cherkashina.jpeg"
          alt="Maryna Cherkashina"
          loading="lazy"
        />
        </div>
        <div class="team__box">
          <p class="team__member">Maryna Cherkashina</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="##"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/baschenko"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
          class="team__img"
          src="./img/hero-mobile-2x.jpg"
          alt="Artem Sopilniak"
          loading="lazy"
        />
        </div>
        <div class="team__box">
          <p class="team__member">Artem Sopilniak</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="##"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Doublebubble99"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
          class="team__img"
          src="./img/hero-mobile-2x.jpg"
          alt="Alexander Golub"
          loading="lazy"
        />
        </div>
        <div class="team__box">
          <p class="team__member">Olexander Golub</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="##"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-inkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/IhorKulinskyi"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>