<div class="footer--copyright">
  <p class="copyright">
    <span>&copy;</span> <span class="copyright-text">2022 | All Rights Reserved |</span>
  </p>
  <p class="students">
    <span class="develop">Developed with</span>
    <svg class="footer--icon" width="14" height="13">
      <use href="./img/sprite.svg#icon-heart"></use>
    </svg>
    <span class="develop-by">by</span>
    <a class="students--link" data-footer-open>GoIT Students</a>
  </p>
  <ul class="panel__list">
    <li class="panel__list--item panel__list--button active-select btn-en"></li>
    <li class="panel__list--item panel__list--button btn-ua"></li>
  </ul>
</div>



