

<!-- <div class="example" id="hero">
    
    <section class="hero section">
      <div class="container">
        <h2 class="hero-title">Let’s Make Your Own Cinema</h2>
        <p class="hero-text big-text">
          Is a guide to creating a personalized movie theater experience. You'll
          need a projector, screen, and speakers. Decorate your space, choose your
          films, and stock up on snacks for the full experience.
        </p>
        <p class="hero-text small-text">
          Is a guide to creating a personalized movie theater experience. You'll
          need a projector, screen, and speakers.
        </p>
        <button type="button" class="hero-btn">Get Started</button>
      </div>
    </section>
  </div>
 -->







<section class="hero  container "> 
    
        <img>
        <h2 class="hero__title">Let’s Make Your Own Cinema</h2> 
    
        <p class="hero__overview">Is a guide to creating a personalized movie 
            theater experience. You'll need a projector, screen,
             and speakers. Decorate your space, choose your films,
              and stock up on snacks for the full experience. </p>
         <a class="hero__btn">Get Started</a>
 </section>




 <!-- <div class="rating">
    <div class="rating__body">
        <div class="rating__active"></div>
           <div class="rating__items">
            <input type="radio" class="rating__item" value="1" name="rating">
           
            <input type="radio" class="rating__item" value="2" name="rating">
            
            <input type="radio" class="rating__item" value="3" name="rating">
           
            <input type="radio" class="rating__item" value="4" name="rating">
            
            <input type="radio" class="rating__item" value="5" name="rating">
            
           </div>
    
        <div class="rating__value ">6</div> -->