

<section class="hero   hero__with-film container "> 
  <div class=" hero__container  ">
    
    <h2 class="hero__title">Let’s Make Your Own Cinema</h2> 
    <p class="hero__overview">Is a guide to creating a personalized movie 
            theater experience. You'll need a projector, screen,
             and speakers. Decorate your space, choose your films,
              and stock up on snacks for the full experience. </p>
    <a href="./catalog.html" class="hero__btn">Get Started</a>
    
   
 </div>
 </section>




 <!-- <div class="rating">
    <div class="rating__body">
        <div class="rating__active"></div>
           <div class="rating__items">
            <input type="radio" class="rating__item" value="1" name="rating">
           
            <input type="radio" class="rating__item" value="2" name="rating">
            
            <input type="radio" class="rating__item" value="3" name="rating">
           
            <input type="radio" class="rating__item" value="4" name="rating">
            
            <input type="radio" class="rating__item" value="5" name="rating">
            
           </div>
    
        <div class="rating__value "></div> -->