
<section class="hero container "> 
    <div class="hero__trends">
        <img>
        <h2 class="hero__title">Let’s Make Your Own Cinema</h2>
 
        <div class="rating">
            <div class="rating__body">
                <div class="rating__active"></div>
                   <div class="rating__items">
                    <input type="radio" class="rating__item" value="1" name="rating">
                   
                    <input type="radio" class="rating__item" value="2" name="rating">
                    
                    <input type="radio" class="rating__item" value="3" name="rating">
                   
                    <input type="radio" class="rating__item" value="4" name="rating">
                    
                    <input type="radio" class="rating__item" value="5" name="rating">
                    
                   </div>
            
                <div class="rating__value ">6</div>
        </div>
        <p class="hero__overview">Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but then makes the shocking discovery that she’s a secret agent.  </p>
                   
                   <button class="hero__btn-trailer">
                Watch trailer
            </button>
            
            
 </div>
 </div>
 </section>
