<section class="home-weekly">
    <div class="home-weekly__info">
        <h2 class="home-weekly__title">WEEKLY TRENDS</h2>
        <a class="home-weekly__catalog-link" rel="noopener noreferrer nofollow" href="./catalog.html">See
            all</a>
    </div>
    <div class="home-weekly__cards">
    </div>
    <div class="modal-weekly is-hidden">
        <div class="modal-weekly__overlay">
            <button type='button' class='close'><svg class='close__icon' width=24 height=24>
                    <use href='./img/sprite.svg#icon-x-button'></use>
                </svg></button>
            <div class="modal-weekly__poster"></div>
        </div>
    </div>
</section>