<section class="home">
    <div class="home__weekly">
        <h2 class="home__title">WEEKLY TRENDS</h2>
        <a class="home__catalog-link" href="/src/partials/catalog.html">See all</a>
    </div>
    <div class="home__cards"></div>
    <div class="modal">
        <div class="modal__overlay">
            <button type='reset' class='close'><svg class='close__icon' width=24 height=24>
                    <use href='./img/sprite.svg#icon-x-button'></use>
                </svg></button>
            <div class="modal__poster"></div>
        </div>
    </div>
</section>
<section class=" movie-container">
</section>