


<section class="hero  container "> 
    
  <ul>
    <li>
        <img src="{{poster_path}}">
    </li>
    <li>
        <h2 class="hero__title">{{title}}</h2> 
   </li>
   <li>
     <div class="rating">
            <div class="rating__body">
                <div class="rating__active"></div>
                   <div class="rating__items">
                    <input type="radio" class="rating__item" value="1" name="rating">
                    <input type="radio" class="rating__item" value="2" name="rating">
                    <input type="radio" class="rating__item" value="3" name="rating">
                    <input type="radio" class="rating__item" value="4" name="rating">
                    <input type="radio" class="rating__item" value="5" name="rating">
                   </div>
        <div class="rating__value ">{{vote_average}}</div>
   </li>
    <li>
        <p class="hero__overview">{{overview}}</p>
    </li>
    <li>
        <a href="#" class="hero__btn">Watch trailer</a>
    </li>
  </ul> 
 </section>