<div class='modal'>
  <div class='modal__overlay'>
    <button type='reset' class='close'><svg
        class='close__icon'
        width='24'
        height='24'
      ><use href='/src/img/sprite.svg#icon-x-button'></use></svg></button>
    <div class='modal__thumb'>
      <img src='/src/img/test.jpg' alt='' />
    </div>
    <div class='modal__info'>
      <h2 class='modal__title'></h2>
      <ul class='modal__list'>
        <li class='modal__list-item'><p class='modal__list-vote'>Vote / Votes<span
              class='modal__list-evalue'
            ></span></p></li>
        <li class='modal__list-item'><p
            class='modal__list-popularity'
          >Popularity<span class='modal__list-count'></span></p></li>
        <li class='modal__list-item'><p class='modal__list-genre'>Genre<span
              class='modal__list-genres'
            ></span></p></li>
      </ul>
      <strong class='modal__about'>About</strong>
      <p class='modal__description'></p>
      <button type='button'>Add to my library</button>
    </div>
  </div>
</div>