//^ BODY
body.light {
  background-color: $text-dark-background;
  color: $text-light-background;
}

//* HEADER
body.light {
  .header__container {
    background-color: #ffffff;
  }
  .logo-text {
    color: $text-secondary-light;
  }
  .header__nav-link {
    color: #595959;
    &:hover,
    &:focus {
      color: #f87719;
    }
  }
  .link__current {
    color: #f87719;
  }
  // mobile-menu
  .header__nav {
    @media (max-width: 767px) {
      background-color: $text-secondary-color;
    }
  }
  .mobile-menu__link.link__current {
    color: #f87719;
  }
  .mobile-menu__link {
    color: $text-light-background;
    &:hover,
    &:focus {
      color: #f87719;
    }
  }
  #menu-button {
    color: #595959;
    &:hover,
    &:focus {
      color: #f87719;
    }
  }
  #overlay {
    background: rgba(0, 0, 0, 0.2);
  }
}

//* HERO

// * HOME WEEKLY
body.light {
  .weekly-trends {
    color: $text-light-background;
  }
}

// * HOME WEEKLY MODAL
body.light {
  .modal__container {
    background-color: $text-dark-background;
    color: $text-light-background;
  }
  .film-list__info {
    & .film-list__title {
      color: $text-light-background;
    }
    & .film-list__wood {
      & .film-list__sub--title {
        color: $text-light-background;
      }
      & .film-list__title--wood {
        color: $text-light-background;
      }
      & .film-list__text--average {
        color: $text-light-background;
        & .film-list__average {
          background: $text-secondary-color;
          color: $text-secondary-light;
        }
      }
      & .film-list__last--text {
        color: $text-light-background;
      }
    }
    & .film-list__title--about {
      color: $text-light-background;
    }

    & .film-list__text--about {
      color: $text-secondary-light;
    }
  }

  .film__button {
    color: $text-light-background;
    background: transparent;
    border: 1px solid $accent;
    &:hover,
    &:focus {
      background-color: $text-light-background;
      color: $accent;
      border: 1px solid $text-light-background;
    }
  }

  .modal__close-btn {
    fill: $text-secondary-light;
    &:hover,
    &:focus {
      fill: $accent;
      border-color: $accent;
    }
  }
}

// * HOME
body.light {
  .upcoming__title {
    @media screen and (min-width: 320px) {
      color: $text-light-background;
    }
  }
  .upcoming__info--title {
    color: $text-light-background;
  }

  .upcoming__info--about {
    color: $text-light-background;
  }

  .upcoming__text {
    color: $text-light-background;
  }

  .upcoming__info--description {
    color: $text-secondary-light;
  }

  .upcoming__info--pop--range {
    @media screen and (min-width: 320px) {
      color: $text-light-background;
    }
  }

  .upcoming__info--white {
    color: $text-light-background;
    background: $text-secondary-color;
  }

  .slash {
    color: $text-light-background;
  }

  .upcoming__info--genre--kind {
    color: $text-light-background;
  }

  .upcoming__remindme--btn {
    @media screen and (min-width: 320px) {
      color: $text-light-background;
      background: $linear-button;
    }
    &:hover {
      background: transparent;
      color: $accent;
    }
  }
}

// * MY LIBRARY
body.light {
  .my-libr {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .library-text__oops {
    color: $text-light-background;
  }

  .btn-library__link:hover {
    background-color: $text-secondary-color;
    color: $accent;
  }
}

// * CATALOG
body.light {
  .search__form {
    color: #595959;
  }
  .search__form--input {
    border: 1px solid #595959;
  }
  .search__form--button {
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    color: $text-light-background;
    &:hover {
      border: 1px solid #f87719;
      background: transparent;
      color: #f87719;
    }
  }
  .search__form--icon {
    fill: transparent;
  }

  /////////pagination////////////////
  .tui-page-btn {
    border: 1px solid #595959;
    color: #595959;
    background: transparent;
  }

  .tui-page-btn:hover,
  .tui-page-btn:focus {
    color: #f87719;
    border: 1px solid #f87719;
  }

  .tui-page-btn.tui-is-selected {
    color: white;
    border: none;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  }

 
@media (max-width: 767px) {
  .tui-page-btn.tui-first {
    fill: white;
    margin: 0;
    border: none;
    background-image: url('../img/catalog-pagination/left-arrow_mobil--light.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
// pavlo

@media (min-width: 768px) {
  .tui-page-btn.tui-first {
    margin: 0;
    border: none;
    background-image: url('../img/catalog-pagination/left-arrow--light.png');
    background-repeat: no-repeat;
    background-position: 50%;

    border: none;
  }
}

// PAvlo
@media (max-width: 767px) {
  .tui-page-btn {
    width: 24px;
    height: 24px;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
  }
}
// PAvlo
@media (max-width: 767px) {
  .tui-page-btn.tui-last {
    fill: #b7b7b7;
    background-image: url('../img/catalog-pagination/right-arrow_mobil--light.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
  }
}
@media (min-width: 768px) {
  .tui-page-btn.tui-last {
    border: none;
    fill: #b7b7b7;
    background-image: url('../img/catalog-pagination/right-arrow--light.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.tui-page-btn.tui-prev-is-ellip.tui-first-child,
.tui-page-btn.tui-next-is-ellip.tui-last-child {
  border: none;
}

@media (max-width: 767px) {
  .tui-page-btn.tui-next {
    fill: #b7b7b7;
    background-image: url('../img/catalog-pagination/right-arrow_mobil--light.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
  }
}
@media (min-width: 768px) {
  .tui-page-btn.tui-next {
    fill: #b7b7b7;
    background-image: url('../img/catalog-pagination/right-arrow--light.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
  }
}

@media (max-width: 767px) {
  .tui-prev {
    fill: #b7b7b7;
    background-image: url('../img/catalog-pagination/left-arrow_mobil--light.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
  }
}

@media (min-width: 768px) {
  .tui-page-btn.tui-prev {
    fill: #b7b7b7;
    background-image: url('../img/catalog-pagination/left-arrow--light.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
  }
}

.tui-next-is-ellip,
.tui-prev-is-ellip {
  fill: #b7b7b7;
  border: none;
  align-items: flex-end;
  width: 10px;
}
}

//* FOOTER
body.light {
  .footer--copyright {
    color: #595959;
  }
}

//* WATCH-ERR
body.light {
  .notification-trailer-fail {
    background-color: $text-dark-background;
  }
  .btn-close {
    // background-image: url('../img/sprite.svg#icon-x-button');
    background-color: transparent;
    color: $text-light-background;
  }

  .btn-close--svg {
    width: 24px;
    height: 24px;
  }
  .notification-trailer-fail-text {
    color: $text-light-background;
  }
  .iframe {
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
    border-radius: 16px;
  }
}
