//^ BODY
body.light {
  background-color: $text-dark-background;
  color: $text-light-background;
}

//* HEADER
body.light {
  .header__container {
    background-color: #ffffff;
  }
  .logo-text {
    color: $text-secondary-light;
  }
  .header__nav-link {
    color: #595959;
    &:hover,
    &:focus {
      color: #f87719;
    }
  }
  .link__current {
    color: #f87719;
  }
  // mobile-menu
  .header__nav {
    @media (max-width: 767px) {
      background-color: $text-secondary-color;
    }
  }
  .mobile-menu__link.link__current {
    color: #f87719;
  }
  .mobile-menu__link {
    color: $text-light-background;
    &:hover,
    &:focus {
      color: #f87719;
    }
  }
  #menu-button {
    color: #595959;
    &:hover,
    &:focus {
      color: #f87719;
    }
  }
  #overlay {
    background: rgba(0, 0, 0, 0.2);
  }
}

//* HERO
body.light {
  .hero {
    background-color: $text-secondary-color;
  }
  .hero__background {
    @media screen and (min-width: 768px) {
      background-image: url('../img/light-hero-tablet.png');
      @include retina {
        background-image: url('../img/light-hero-tablet-2x.png');
      }
    }

    @media screen and (min-width: 1200px) {
      background-image: url('../img/light-hero-desktop.png');
      @include retina {
        background-image: url('../img/light-hero-desktop-2x.png');
      }
    }
  }
  .hero__title {
    color: $text-dark-background;
    @include tablet {
      color: $text-light-background;
    }
  }
  .hero__overview {
    color: $text-secondary-color;
    @include tablet {
      color: $text-secondary-light;
    }
  }
}

// * HOME WEEKLY
body.light {
  .home-weekly {
  background-color: #ffffff;
  &__title {
    color: #111111;
  }
}
.close {
  &__icon {
    fill: #282828;
  }
}
.button-send {
  color: #111111;
  border-color: orange;
}
}

// * HOME WEEKLY MODAL
// * HOME
body.light {
  .movie-card {
    background-color: $text-dark-background;
  }
  .movie-card-title {
    color: $text-light-background;
  }
  .movie-title {
    color: $text-light-background;
  }
  .movie-date,
  .movie-vote,
  .movie-popularity,
  .movie-genre {
    color: $text-light-background;
  }
  .movie-about {
    color: $text-light-background;
  }

  .movie-vote span {
    background-color: $text-secondary-color;
  }
  .movie-popularity span {
    color: $text-light-background;
  }

  .movie-genre span {
    color: $text-light-background;
  }

  .movie-about__descr {
    color: $text-secondary-light;
  }
}

// * MY LIBRARY
body.light {
  .libr-content__text {
    color: $text-light-background;
  }
}

//* FOOTER
body.light {
  .footer--copyright {
    color: #595959;
  }
}
