#scroll-to-top {
  @include centerFlex();
  position: fixed;
  flex-direction: column;
  bottom: 50px;
  right: 50px;

  background: transparent;
  opacity: 0;
  z-index: 50;
  padding: 0;
  // border-radius: 50%;
  border: none;
  transform: translateY(30%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;

  @include tablet {
    // right: 30px;
  }
  @include desktop {
    // right: 50px;
  }
}

// A R R O W

.arrow {
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #ffc226;
  border-right: 4px solid #ffc226;
  margin: -10px;
  animation: animate 2s infinite;
  @include tablet {
    width: 25px;
    height: 25px;
    margin: -5px;
  }
  @include desktop {
    width: 30px;
    height: 30px;
  }
}

.arrow:nth-child(2) {
  animation-delay: -0.2s;
  border-bottom: 4px solid #fb801f;
  border-right: 4px solid #fb801f;
}

.arrow:nth-child(3) {
  animation-delay: -0.4s;
  border-bottom: 4px solid #f84119;
  border-right: 4px solid #f84119;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(-135deg) translate(-15px, -15px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-135deg) translate(15px, 15px);
  }
}
