// HEADER
body.light {
  background-color: #f5f5f5;
  & .header__container {
    background-color: #ffffff;
  }
  & .logo-text {
    color: $text-secondary-light;
  }
  & .header__nav-link {
    color: #595959;
  }
  & .header__nav-link--current {
    color: #f87719;
  }
  // mobile-menu
  & .header__nav {
    @media (max-width: 767px) {
      background-color: $text-secondary-color;
    }
  }
  & .mobile-menu__link {
    color: $text-light-background;
  }
  & .mobile-menu__link--current {
    color: #f87719;
  }
  & #menu-button {
    color: #595959;
  }
  & #overlay {
    background: rgba(0, 0, 0, 0.2);
  }
}
