.cards__list {
  display: grid;
  max-width: calc(320px - 40px);
  grid-template-columns: repeat(1, minmax(280px, 1fr));
  grid-row-gap: 16px;
  margin: 0 auto;
  list-style: none;
  justify-content: center;

  position: relative;

  @include tablet {
    max-width: calc(768px - 64px);
    grid-template-columns: repeat(3, minmax(224px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 28px;
  }

  @include desktop {
    max-width: calc(1280px - 64px);
    grid-template-columns: repeat(3, minmax(395px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 32px;
  }
}

.cards {
  margin-bottom: 22px;
  @include tablet {
    margin-bottom: 44px;
  }

  @include desktop {
    margin-bottom: 60px;
  }
}

.cards-list__item {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 406px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 10px;
  z-index: 0;

  @include tablet {
    height: 325px;
  }

  @include desktop {
    height: 574px;
  }
}

.cards-list__item::before {
  position: absolute;
  content: ' ';
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: inherit;
  z-index: 1;
}

.cards-list__item:hover {
  transform: scale(1.02) translateZ(0);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 0 20px #f87719;
}

.cards-list__img {
  border-radius: inherit;
  height: 406px;

  @include tablet {
    height: 325px;
  }

  @include desktop {
    height: 574px;
  }
}

.cards-list__info {
  display: inline-flex;
  position: absolute;
  flex-direction: column;
  pointer-events: none;
  z-index: 2;
  width: 280px;

  padding-left: 12px;
  padding-right: 12px;
  bottom: 12px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  @include tablet {
    width: 224px;
  }

  @include desktop {
    padding-left: 20px;
    padding-right: 20px;
    width: 410px;
  }
}

.cards-list__title {
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  overflow: hidden;
  color: white;

  @include tablet {
    line-height: 1.2;
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.67;
  }
}

.cards-list__text {
  font-size: 12px;
  line-height: 1.5;
  overflow: hidden;
  color: #b7b7b7;

  @include tablet {
    font-size: 10px;
  }

  @include desktop {
    font-size: 18px;
    line-height: 1.2;
  }
}

.cards-list_second_line {
  align-items: baseline;
  display: inline-flex;
}

.cards__message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 124px;
}

.cards__text {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-style: normal;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  padding-top: 48px;
  padding-bottom: 10px;

  @include tablet {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-top: 80px;
    padding-bottom: 30px;
  }

  @include desktop {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.4;
    padding-top: 120px;
    padding-bottom: 70px;
  }
}

.star-rate {
  width: 86px;
  height: 14px;
  display: flex;
  align-items: baseline;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 5px;

  @include tablet {
    width: 66px;
    height: 10px;
    align-items: baseline;
  }

  @include desktop {
    width: 106px;
    height: 18px;
  }
}

.star {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffc226),
    to(#f84119)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/////////search-form//////////

.search__form--container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 40px;
  margin-bottom: 16px;

  @include tablet {
    padding-top: 60px;
    margin-bottom: 36px;
  }

  @include desktop {
    padding-top: 80px;
    margin-bottom: 48px;
  }
}

.search__form {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  color: #b7b7b7;

  @include tablet {
    width: 264px;
  }

  @include desktop {
    width: 398px;
  }
}

.search__form--input {
  width: 224px;
  height: 40px;
  background-color: transparent;
  outline: none;

  border: 1px solid white;
  border-radius: 8px;
  color: inherit;

  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;

  padding-left: 20px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus {
    &::placeholder {
      color: transparent;
    }

    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 0 20px #f87719;
  }

  @include tablet {
    width: 204px;
    height: 44px;
    padding-left: 20px;
  }

  @include desktop {
    width: 334px;
    height: 48px;
    line-height: 1.18;
    padding-left: 24px;
  }
}

.search__form--button {
  width: 40px;
  height: 40px;
  margin-left: auto;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border: none;
  border-radius: 50%;
  color: white;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 2px solid #f87719;
    background: transparent;
    color: #f87719;
  }

  @include tablet {
    width: 44px;
    height: 44px;
  }

  @include desktop {
    width: 48px;
    height: 48px;
  }
}

.search__form--icon {
  width: 18px;
  height: 18px;

  fill: transparent;
  stroke-width: 0;
  stroke: currentColor;
  transition: none;

  @include desktop {
    width: 20px;
    height: 20px;
  }
}

/////////pagination////////////////

.tui-pagination {
  display: flex;
  justify-content: center;
  height: 40px;
}

.tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #b7b7b7;
  color: #b7b7b7;
  background: transparent;
}

.tui-page-btn:hover,
.tui-page-btn:focus {
  color: #f87719;
  border: 2px solid #f87719;
}

.tui-page-btn.tui-is-selected {
  color: white;
  border: none;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
}
// pavlo

@media (max-width: 767px) {
  .tui-page-btn.tui-first {
    fill: white;
    margin: 0;
    border: none;
    background-image: url('../img/catalog-pagination/left-arrow_mobil.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
// pavlo

@media (min-width: 768px) {
  .tui-page-btn.tui-first {
    margin: 0;
    border: none;
    background-image: url('../img/catalog-pagination/left-arrow.png');
    background-repeat: no-repeat;
    background-position: 50%;

    border: none;
    margin-right: 0;
  }
}

// PAvlo
@media (max-width: 767px) {
  .tui-page-btn {
    width: 24px;
    height: 24px;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
  }
}
// PAvlo
@media (max-width: 767px) {
  .tui-page-btn.tui-last {
    fill: #b7b7b7;
    background-image: url('../img/catalog-pagination/right-arrow_mobil.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .tui-page-btn.tui-last {
    border: none;
    fill: #b7b7b7;
    background-image: url('../img/catalog-pagination/right-arrow.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.tui-page-btn.tui-prev-is-ellip.tui-first-child,
.tui-page-btn.tui-next-is-ellip.tui-last-child {
  border: none;
}

@media (max-width: 767px) {
  .tui-page-btn.tui-next {
    fill: #b7b7b7;
    background-image: url('../img/catalog-pagination/right-arrow_mobil.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .tui-page-btn.tui-next {
    fill: #b7b7b7;
    background-image: url('../img/catalog-pagination/right-arrow.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .tui-prev {
    fill: #b7b7b7;
    background-image: url('../img/catalog-pagination/left-arrow_mobil.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .tui-page-btn.tui-prev {
    fill: #b7b7b7;
    background-image: url('../img/catalog-pagination/left-arrow.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    margin-right: 0;
  }
}

.tui-next-is-ellip,
.tui-prev-is-ellip {
  fill: #b7b7b7;
  border: none;
  align-items: flex-end;
  width: 10px;
}

.tui-is-disabled {
  display: none;
}

.tui-next-is-ellip.tui-last-child {
  margin-right: 0;
}
