// /* Catalog section */
// .catalog {
//   max-width: 800px;
//   margin: 0 auto;
// }

// .search {
//   margin-bottom: 20px;
// }

// .search form {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .search input[type='text'],
// .search select {
//   font-size: 16px;
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
// }

// .search select {
//   margin-left: 10px;
// }

// .search button[type='submit'] {
//   font-size: 16px;
//   padding: 10px 20px;
//   background-color: #0077cc;
//   color: #fff;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
// }

// .search button[type='submit']:hover {
//   background-color: #005fa3;
// }

// // .movies {
// //   display: grid;
// //   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
// //   grid-gap: 20px;
// // }

// // .movie {
// //   background-color: #f2f2f2;
// //   padding: 20px;
// //   text-align: center;
// //   border-radius: 4px;
// //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// // }

// .movies {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }

// .movie {
//   width: 30%;
//   display: inline-block;
//   margin-bottom: 20px;
// }

// .movie img {
//   margin-bottom: 10px;
//   max-width: 100%;
//   height: auto;
//   border-radius: 4px;
// }

// .movie h2 {
//   margin: 10px 0;
// }

// .movie p {
//   margin: 5px 0;
// }

// .pagination {
//   display: flex;
//   justify-content: center;
//   margin-top: 20px;
// }

// .pagination a {
//   font-size: 16px;
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   margin-right: 5px;
//   text-decoration: none;
//   color: #333;
// }

// .pagination a.active,
// .pagination a:hover {
//   background-color: #0077cc;
//   color: #fff;
//   border-color: #0077cc;
// }
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #1a191f;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 60px;
}

.header__logo {
  font-size: 32px;
  text-decoration: none;
  color: #ffffff;
}

.header__search {
  padding: 8px;
  border: 2px solid #1a191f;
  border-radius: 5px;
  outline: none;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  width: 240px;
  margin: 10px;
  position: relative;
}

.movie__cover-inner {
  position: relative;
  height: 360px;
}

.movie__cover {
  max-width: 100%;
  height: 100%;
}

.movie__cover--darkened {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.movie__cover--darkened:hover {
  background-color: grey;
  cursor: pointer;
}

.movie__info {
  padding: 10px 0px;
}

.movie__title {
  font-size: 16px;
  color: #ffffff;
}

.movie__category {
  font-size: 14px;
  color: #ffd80e;
}

.movie__average {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a191f;
  color: #ffffff;
  font-size: 14px;
}

.movie__average--green {
  border: 1px solid green;
}

.movie__average--orange {
  border: 1px solid orange;
}

.movie__average--red {
  border: 1px solid red;
}

/* * */

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__item {
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px;
}

.pagination__item--active {
  background-color: #ffc107;
  color: #fff;
}

.pagination__item:first-child {
  margin-left: 0;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__item--dots {
  pointer-events: none;
}

.pagination__item--arrow {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}
