.footer--copyright {
  @include font(400, 14px, 1.14, 0);
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-style: normal;
  color: $not-accent;
  margin-right: 5px;
  @media screen and (min-width: 768px) {
    @include centerFlex();
  }
}

.heart {
  animation: beat 0.5s infinite alternate;
  transform-origin: center;
  &:hover,
  &:focus {
    animation: beat 0.25s infinite alternate;
  }
}

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}
