.thumb {
  position: relative;
}

.background-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img {
  display: block;
  width: 100%;
}
.thumb {
  @include tablet {
    width: 704px;
    height: 432px;
  }

  @include desktop {
    width: 1215px;
    height: 720px;
  }
}
.backend {
  position: relative;
  top: 0;
  right: 0;
  width: 320px;
  height: 380px;
  object-fit: cover;
  @include tablet {
    width: 482px;
    height: 432px;
  }
  @include desktop {
    width: 802px;
    height: 720px;
  }
}

.black {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  @include tablet {
    opacity: 1;
    width: 768px;
    height: 432px;
  }
  @include desktop {
    width: 1280px;
    height: 720px;
  }
}

.hero-wrap__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.background-image img {
  width: 100%;
}

.hero-wrap__content {
  padding: 40px 10px 28px 20px;
  @include tablet {
    padding: 36px 300px 36px 20px;
  }
  @include desktop {
    padding: 62px 650px 178px 30px;
  }
}

.title {
  @include font(700, 32, 1.18, null);
@include centerAlingn();
  color: $text-dark-background;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 12px;

  @include tablet {
    @include font(null, 30, 1.03, null);
    width: 250px;
  }

  @include desktop {
    @include font(null, 60, 1.25, null);
    width: 420px;
    padding-bottom: 16px;
  }
}

.start-rate__hero {
  margin-top: 12px;
    margin-bottom: 21px;
    margin-left: auto;
    font-size: 18px;

@include tablet {
  margin-top: 14px;
  margin-bottom: 22px;
  font-size: 22px;
  line-height: 1.2;
  }

@include desktop {
  margin-top: 18px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1.2;
 }
}

// .catalog__stars-wrap {
//   margin-right: 0px;
//   width: 200px;
//   font-size: 18px;
//   position: relative;
//   padding-bottom: 20px;

//   &::before {
//     content: ' ★ ★ ★ ★ ★';
//     display: block;
//   }

//   @include tablet {
//     width: 66px;
//     height: 10px;
//     font-size: 10px;
//   }

//   @include desktop {
//     width: 106px;
//     height: 18px;
//     font-size: 16px;
//   }
// }




.catalog__rating-active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  &::before {
    content: ' ★ ★ ★ ★ ★';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: rgb(243, 152, 54);
  }
}

.description {
  @include centerAlingn();
  @include font(400, 14, 1.14, null);
  color: $text-dark-background;
  padding-bottom: 16px;
  padding-top: 20px;

  @include tablet {
    width: 260px;
  }
  @include desktop {
    @include font(null, 16, 1.18, null);
    width: 450px;
    padding-bottom: 36px;
  }
}

.watch-trailer__btn {
  @include font(500, 14, 1.4, null);
  display: block;
  margin-top: 20px;
  padding: 12 24;
  border: none;
  background: $linear-button;
  border-radius: 74px;
  color: #111111;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.watch-trailer__btn:hover,
.watch-trailer__btn:focus {
  color: $accent;
  background: $text-dark-background;
  border: 1px solid $accent;
}
