.weekly__trends-all {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-weight: 500;
  margin-top: 40px;
  @include tablet {
    max-top: 52px;
  }

  @include desktop {
    margin-top: 80px;
    margin-bottom: 28px;
  }
}

.weekly-trends {
  @include font(null, 16, 1.18, null);
  color: $text-secondary-color;
  text-transform: uppercase;
  @include tablet {
    @include font(null, 24, 1.16, null);
  }

  @include desktop {
    @include font(null, 20, 1.17, null);
  }
}

.see-all {
  @include font(null, 16, 1.18, null);
  color: $accent;
  @include tablet {
    @include font(null, 24, 1.16, null);
  }

  @include desktop {
    @include font(null, 28, 1.17, null);
  }
}

.see-all:hover {
  transform: scale(1.12) translateZ(0);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

// ul
.gallery-weekly__list {
  display: grid;
  max-width: calc(320px - 40px);
  grid-template-columns: repeat(1, minmax(280px, 1fr));
  grid-row-gap: 16px;
  margin: 0 auto;
  list-style: none;
  justify-content: center;
  position: relative;

  @include tablet {
    max-width: calc(768px - 64px);
    grid-template-columns: repeat(3, minmax(224px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 28px;
  }

  @include desktop {
    max-width: calc(1280px - 64px);
    grid-template-columns: repeat(3, minmax(395px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 32px;
  }
}

// li

.gallery-weekly__list-elem {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 406px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 10px;
  border-radius: 10px;
  z-index: 0;

  @include tablet {
    height: 336px;
  }

  @include desktop {
    height: 593px;
  }
}

.gallery-weekly__list-elem::before {
  position: absolute;
  content: ' ';
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: inherit;
  z-index: 1;
}

.gallery-weekly__list-elem:hover {
  transform: scale(1.02) translateZ(0);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 0 20px $accent;
}

.gallery-weekly__image {
  height: 406px;
  box-shadow: 0 3px 4px 1px #2c85c833;
  border-radius: inherit;

  @include tablet {
    height: auto;
  }

  @include desktop {
    height: auto;
  }

  box-shadow: 0px 3px 4px 1px rgba(44, 133, 200, 0.2);
}

.gallery-weekly__title {
  @include font(null, 12, 1.5, null);
  text-transform: uppercase;
  overflow: hidden;
  color: $text-secondary-color;

  @include tablet {
    line-height: 1.2;
  }

  @include desktop {
    @include font(null, 20, 1.67, null);
  }
}

.gallery-weekly__text {
  @include font(null, 12, 1.5, null);
  overflow: hidden;
  color: $not-accent;

  @include tablet {
    @include font(null, 10, 1.2, null);
  }

  @include desktop {
    @include font(null, 20, 1.2, null);
  }
}

.gallery-weekly__info {
  max-width: 100%;
  margin-right: -30%;
}

.gallery-weekly__rate {
  @include font(null, 12, 1.5, null);
  color: $not-accent;
  margin-top: auto;
  margin-left: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include desktop {
    @include font(null, 20, 1.2, null);
  }
}

.gallery-weekly__all-info {
  display: flex;
  align-items: baseline;
  padding: 12px 12px 0px 12px;
  position: absolute;
  bottom: 12px;
  font-weight: 500;
  z-index: 2;
  width: 280px;
  @include tablet {
    width: 224px;
  }

  @include desktop {
    width: 395px;
  }
}
