.container__upcoming {
  @include centerAlingn();
  flex-direction: column;
  @include desktop {
    align-items: start;
    flex-direction: row;
    justify-content: center;
  }
}

.upcoming__title {
  @media screen and (min-width: 320px) {
    @include font(500, 16, 1.3, null);
    margin-top: 32px;
    margin-bottom: 24px;
    text-transform: uppercase;
    text-align: start;
    color: $text-secondary-color;
  }

  @include tablet {
    @include font(500, 24, 1.2, null);
  }

  @include desktop {
    @include font(500, 28, 1.2, null);
    margin-top: 60px;
    margin-bottom: 0;
    padding-top: 0;
  }
}

.upcoming__thumb {
  @media screen and (min-width: 320px) {
    width: 280px;
    height: auto;
    padding: 0;
    margin: 0;
  }

  @include tablet {
    width: 700px;
    height: 400px;
  }

  @include desktop {
    width: 780px;
    height: 490px;
    margin-top: 28px;
  }
}

.upcoming__info {
  max-width: 280px;

  @include tablet {
    max-width: 625px;
  }

  @include desktop {
    max-width: 390px;
    margin-left: 16px;
  }
}

.upcoming__info--title {
  @include font(500, 20, 1.3, null);
  margin-top: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: start;
  color: $text-secondary-color;

  @include tablet {
    @include font(500, 28, 1.4, null);
    margin-bottom: 24px;
    margin-top: 32px;
  }

  @include desktop {
    @include font(500, 32, 1.6, null);
    margin-bottom: 28px;
    margin-top: 28px;
  }
}

.upcoming__info--about {
  @include centerAlingn();
  @include font(500, 16, 1.3, null);
  margin-top: 20px;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #b7b7b7;

  @include tablet {
    margin-top: 8px;
  }
}

.upcoming__text {
  @include centerAlingn();
  @include font(500, 16, 1.3, null);
  color: #b7b7b7;
  margin-bottom: 12px;
}

.upcoming__info--description {
  @include font(400, 14, 1.4, null);
  color: $text-secondary-color;
  margin-top: 16px;
  margin-bottom: 20px;
  max-width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @include tablet {
    max-width: 100%;
  }
  @include desktop {
    max-width: 100%;
    -webkit-line-clamp: 3;
  }
}

.upcoming__info--release {
  @include mobile {
    display: flex;
  }
}

.upcoming__info--release--date {
  @media screen and (min-width: 320px) {
    text-transform: uppercase;
    color: $accent;
    margin-left: 57px;
  }
}

.upcoming__info--vote {
  @media screen and (min-width: 320px) {
    display: flex;
    align-items: flex-start;
  }

  @include tablet {
    display: flex;
  }
}

.upcoming__info--votes {
  @media screen and (min-width: 320px) {
    @include centerAlingn();
    margin-left: 65px;
  }
}

.upcoming__info--pop {
  @media screen and (min-width: 320px) {
    @include centerAlingn();
  }
}

.upcoming__info--pop--range {
  @media screen and (min-width: 320px) {
    @include font(500, 16, 1.3, null);
    margin-left: 77px;
    text-transform: uppercase;
    color: $text-secondary-color;
  }
}

.upcoming__info--white {
  @include font(500, 14, 1.2, null);
  padding: 1px 8px;
  display: flex;
  text-transform: uppercase;
  color: $text-light-background;
  background: $text-secondary-color;
  border-radius: 5px;
}

.slash {
  text-transform: uppercase;
  color: $text-secondary-color;
  margin-left: 4px;
  margin-right: 4px;
}

.upcoming__info--genre--kind {
  @include font(500, 16, 1.18, null);
  margin-left: 107px;
  color: $text-secondary-color;
}

.upcoming__movie {
  @include tablet {
    display: flex;
  }

  @include desktop {
    display: block;
  }
}

.upcoming__info--left {
  @include tablet {
    display: flex;
    flex-direction: column;
  }
}

.upcoming__info--right {
  @include tablet {
    display: flex;
    flex-direction: column;
    margin-left: 130px;
  }

  @include desktop {
    margin-left: 0;
  }
}

.upcoming__remindme--btn {
  @media screen and (min-width: 320px) {
    @include font(500, 12, 1.1, null);
    @include centerFlex();
    color: $text-light-background;
    text-align: center;
    width: 110px;
    height: 40px;
    border: none;
    background: $linear-button;
    border-radius: 74px;
    transition: color 300ms;
  }

  @include tablet {
    @include font(500, 14, 1.2, null);
    width: 120px;
    height: 40px;
  }
  &:hover {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    background: $text-secondary-color;
    color: $text-light-background;
    border: 1px solid;
  }
}
